<launch>
     
     <arg name="map_file" default="$(find slam)/map/four_2.yaml"/> 
     <arg name="move_forward_only" default="false"/> 
 
     <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>
 
 
     <node name="path_publisher" pkg="dreambot" type="path_generator.py" output="screen"/>
 
     <node
         pkg="rviz"
         type="rviz"
         name="rviz"
         args="-d $(find dreambot)/rviz/world.rviz"
         required="true"/>
 
     <!-- AMCL Master -->
    <include file="$(find dreambot)/launch/master_amcl.launch"/>
 
    <!-- AMCL Slave-->
    <include file="$(find dreambot)/launch/slave_amcl.launch"/>
 
    <node pkg="dreambot" type="odom_filter.py" name="tf_listener_node" output="screen"/>
 
    <include file="$(find masterbot_physical)/launch/move_base.launch">    
        <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    </include>
 
    <include file="$(find slavebot_physical)/launch/move_base.launch">    
        <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    </include> 

    <node pkg="masterbot_navigation" type="navigate_goal.py" name="masterbot_navigation" output="screen"/>
    <node pkg="slavebot_navigation" type="navigate_goal.py" name="slavebot_navigation" output="screen"/>

    <node pkg="dreambot" type="multi_path_six1.py" name="multi_path_subscriber_node_six1" output="screen"/>
    <node pkg="dreambot_tkinter" type="tkinter_gui_test1.py" name="tkinter_gui_test1" output="screen"/>

    <node pkg="dreambot" type="leader_switch_combine.py" name="leader_switch_combine" output="screen"/>
       
 
 </launch>